.first{
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;  
}

.logo-header{
  margin-top: 24px;
  margin-bottom: 25px; 
}

.nav{
  padding-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 318px;
}

.nav nav{
  display: flex;
  flex-direction: row;
}

.nav div{
  padding-right: 46px;
}

.contact div{
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 227px;
  display: flex;
  flex-direction:row-reverse;
}

.contact a{
  padding-right: 50px;
  justify-content: flex-end;
  flex-direction:row-reverse;
}

.second{
  display: flex;
  flex-direction:row;
  width: 1200px;
  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.second div{
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10px;
 }

.second button{
  border: none;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  border-radius: 10px;
}
.third{
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}


.third h3{
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
}

.third p{
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.one{
  flex-direction: row;
  margin-right: 30px;
  margin-left: 215px;
}

.one div{
  border: var(--border) 1px solid;
  margin-bottom: 30px;
}

.two {
  flex-direction: row;
  margin-right: 30px;
}

.two div{
  border: var(--border) 1px solid;
  margin-bottom: 30px;
}

.three {
  flex-direction: row;
  margin-right: 215px;
}

.three div{
  border:var(--border) 1px solid;
  margin-bottom: 30px;
}

.fourth{
 width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  align-items: center;
}

.logo-footer{
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 1095px;
}

.address{
  display: flex;
  flex-direction: column; 
  margin-top: 20px;
  margin-bottom: 60px;
}

.street{
  padding-bottom: 9px;
}

.mail{
  margin-right: 1095px;
  padding-bottom: 9px;
  text-decoration: underline;
}

.main{
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  align-items: center;
}

.main h1{
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.main div{
  margin-left: auto;
  margin-right: auto;
}

.main button{
 margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 41px;
  padding-right: 41px;

}

.lorem{
  width: 1200px;
  display: flex;
  flex-direction:row;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  align-items: center;
}

.lorem div{
 padding-left: auto;
 padding-right: auto;
 padding-top: 94px;
}

.lorem h6{
  padding-right: 30px;
}

.lorem a{
  padding-top: 10px;
} 

.whatwedo{
  width: 1200px;
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  align-items: center;
}

.whatwedo h2{
  padding-left: auto;
 padding-right: auto;
 padding-top: 94px;
}

.photo{
  display: flex;
  flex-direction:row;
  margin-left: auto;
  margin-right: auto;

}
.photo div{
  padding-top: 50px;
  padding-right: 30px;

}
.ourteam{
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  margin-top: 94px;
  align-items: center;
}

.ourteam h2{
  padding-left: auto;
  padding-right: auto;
  padding-top: 94px;
}

.employees{
  display: flex;
  flex-direction:row;
  margin-left: auto;
  margin-right: auto;
  
}

.employees img{
  padding-top: 50px;
  padding-right: 30px;
}


.employees h3{
  padding-left: auto;
  padding-right: auto;
  padding-top: 30px;
  text-align: center;
}

.employees p{
  padding-left: auto;
  padding-right: auto;
  padding-top: 10px;
  text-align: center;
}

:root{
  --border: #EEEEEE;
}
:root{
    --blue: #2196f3;
  }
:root{
    --black: #212121;
  }
:root{
    --grey: #757575;
  }
:root{
    --white: #FFFFFF;
  }
:root{
    --grey2: #2F303A;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
  
a {
  color: var(--black);
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo-header a {
  color: var(--blue);
  font-family: "Relaway", sans-serif;
  font-size: 26px;
  line-height: 100%;
  font-weight: 700;
  text-decoration: none;
}

.logo-footer a {
  color: var(--blue);
  font-family: "Relaway", sans-serif;
  font-size: 26px;
  line-height: 100%;
  font-weight: 700;
  text-decoration: none;
}

.contact a {
  color: var(--grey);
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
}

.contact a:hover {
  color: var(--blue);
}

.nav a { 
  color: var(--black);
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
}

.nav a:hover {
  color: var(--blue); 
}

button:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 1px var(--blue);
  cursor: pointer;
}

h3{
  font-size: 18px;
  line-height: 171%;
  font-weight: 700;
}

p{
  color: var(--grey);
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}


footer {
  background-color: var(--grey2);
  height: 252px;
}

.address a {
  color: var(--white);
  text-decoration: none;   
}

.address a:hover {
  color: var(--blue);
  text-decoration: none;
}

.main{
  background-color: var(--grey2);
  height: 600px;
}

.main button{
  font-size: 16px;
  line-height: 188%;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 4px;
  border-color: var(--blue);
}

.main h1{
  color: var(--white);
  font-size: 44px;
  line-height: 136%;
  font-weight: 900;
}

.lorem h6{
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color:var(--black);
}

.lorem a{
font-weight: 400;
font-size: 14px;
line-height: 171%;
color:var(--grey);
}

.whatwedo h2{
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  color:var(--black);
}

.ourteam{
  background-color: #F5F4FA;
  height: 648px;
}

.ourteam h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color:var(--black);
}

.employees h3{
  font-size: 16px;
  line-height: 100%;
  color:var(--black);
}

.employees p{
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color:var(--grey);
}