


.first{
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
}

.logo-header{
  margin-top: 24px;
  margin-bottom: 25px;
 
}

.nav{
 padding-left: 93px;
margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 318px;
}

.nav nav{
  display: flex;
  flex-direction: row;
}

.nav div{
  padding-right: 46px;
}

  .contact div{
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 227px;
  display: flex;
  flex-direction:row-reverse
 }

 .contact a{
  padding-right: 50px;
  justify-content: flex-end;
  flex-direction:row-reverse
 }
 .second{
  display: flex;
  flex-direction:row;
  width: 1200px;
  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  

}
.second div{
  padding-right: 4px;
  padding-left: 4px;

}
.second button{
  border: none;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
}

.third{
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-left: 215px;
  margin-bottom: 64px;
}

  .third h3{
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
  }

.third p{
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.one{
  flex-direction: row;
  margin-right: 30px;
}
.one div{
  border: #EEEEEE 1px solid;
  margin-bottom: 30px;
}
.two {
  flex-direction: row;
  margin-right: 30px;
}
.two div{
  border: #EEEEEE 1px solid;
  margin-bottom: 30px;
}
.three {
  flex-direction: row;
  margin-right: 215px;
}
.three div{
  border: #EEEEEE 1px solid;
  margin-bottom: 30px;
}
.fourth{
  width: 1200px;
  
  display:flex;
  flex-direction: column;
  padding-bottom: 60px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;  
}
.logo-footer a{

margin-top: 60px;
}
.address div{

  display:flex;
  flex-direction: column;
  height: 21px;
    
}



:root{
    --blue: #2196f3;
  }
:root{
    --black: #212121;
  }
:root{
    --grey: #757575;
  }
:root{
    --white: #FFFFFF;
  }
:root{
    --grey2: #2F303A;
}
body {
    background-color: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  
 a {
    color: var(--black);
    cursor: pointer;
 }
 header {
  border-bottom: 1px solid #ECECEC;
 }

.logo-header a {
    color: var(--blue);
    font-family: "Relaway", sans-serif;
    font-size: 26px;
    line-height: 100%;
    font-weight: 700;
    text-decoration: none;
  }
.logo-footer a{
  color: var(--blue);
    font-family: "Relaway", sans-serif;
    font-size: 26px;
    line-height: 100%;
    font-weight: 700;
    text-decoration: none;
}
.contact a {
    color: var(--grey);
     font-size: 14px;
     line-height: 100%;
     text-decoration: none;
}

.contact a:hover
{
    color: var(--blue);
     
}

.nav a { 
    color: var(--black);
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
}

.nav a:hover
{
    color: var(--blue); 
}

button:hover {
color: var(--white);
background-color: var(--blue);
border: 1px var(--blue);
cursor: pointer;
}

h3{
    font-size: 18px;
    line-height: 171%;
    font-weight: 700;
}

p{
    color: var(--grey);
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
}

footer {
    background-color: var(--grey2);
    width: 1600px;
    height: 252px;
}

.address a {
    color: var(--white);
    width: 1600px;
    height: 252px;
}

.address a:hover
{
    color: var(--blue); 
}

